.hi{
    color: rgb(155, 93, 93);
   }
   
   .bg-yellow{
       background-color: yellow;
   }
   
   #firstdiv{
       background-color: rgb(219, 169, 169);
   }
.hola{
    background-color: rgb(33, 190, 190);
}